run:
  timeout: 5m
  tests: true

linters:
  enable:
    - govet
    - staticcheck
    - gosimple
    - ineffassign
    - errcheck
    - gocyclo
    - revive
    - gosec
    - misspell
    - dupl
    - prealloc
    - unconvert
    - whitespace

issues:
  exclude-use-default: false
  max-per-linter: 0
  max-same-issues: 0

linters-settings:
  gocyclo:
    min-complexity: 15
  dupl:
    threshold: 120
  revive:
    severity: warning